<div id="statementContainer" class="content col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">

</div>
<script>
	$(function() {
		send("starter", {}, function(res) {
			$("#statementContainer").html(res);
		});

		$(".statements").on('mousewheel', function(event) {
			console.log(event.deltaX, event.deltaY, event.deltaFactor);
			if (event.deltaY < 0) {
				goPrev();
			}
			if (event.deltaY > 0) {
				goNext();
			}

		});

		$(".statements").on('swipe', function(event) {
			$(".statements").clearQueue();
			console.log(event.deltaX, event.deltaY, event.deltaFactor);
			if (event.deltaY < 0) {
				goPrev();
			}
			if (event.deltaY > 0) {
				goNext();
			}

		});

		$("body").on('keydown', function(e) {
			var nav_to = null;
			if (e.keyCode == 38) {
				goNext();
			} else if (e.keyCode == 40) {
				goPrev();
			}

		});

	}); 
</script>