<!-- STANDARD POST -->
<%= form_tag("/save", role:"form", enctype:"multipart/form-data", class:"form-horizontal style-form") do%>
<article class="blog-wrap text-center">
	<div class="blog-media">
		<div class="he-wrap tpl2">
			<div style="width: 100%;height: 100px;background-color: gray">
		</div><!-- he wrap -->
	</div>

	<header class="page-header blog-title">
		<div class="author-wrap">
			<span class="inside"> <a href="#"><img class="img-responsive" alt="" src="demos/team_03.png"></a> </span>
		</div>
		<h3 class="general-title"><input name="title" placeholder="Title" style="width: 100%;"/></h3>
		<div class="post-meta">
			<p>
				Words left <span class="publish-on">140</span>
				<span class="sep">/</span> <button type="submit"> Publish</button>
			</p>
		</div>
	</header>

	<div class="post-desc">
		<p>
			<textarea name="body" placeholder="Text" style="width: 100%;height: 166px"></textarea>
			
		</p>
		
	</div>
</article>
<%end%>
<hr>
